
		/* Geral */

		*{
			margin: 0px;
			text-decoration: none;
			font-family: sans-serif;
			text-align: justify;						
		}	

		/* Cabeçalho */

		#logo{
			width:50%;
			min-width: 500px;
			position: absolute;
			left: -70px;
			top: -75px;
			z-index: 11;
		}

		ol{
			margin-top: -150px;
			z-index: 10;
			position: sticky;
			background-color: rgb(189, 233, 245, 0.7);
			padding-top: 32px;
			padding-bottom: 32px;
			text-align: right;
		}

		ol li{
			display: inline-block;
			width: 15%;
			margin-bottom: 10px;
			margin-top: 1%;
			text-align: center;
			border-bottom: 5px solid rgb(189, 233, 245, 0);
		}

		a{
			color: black;
			font-size: 19px;
			text-shadow: 2px 2px 5px white;
		}

		ol li:hover{
			border-bottom: 5px solid pink;
		}		


		#adm span{
			color: gray;
			margin: 0px;
			font-size: 10px;
			padding-left: 91%;
		}


		/* Texto */


		h2, h4{
			text-align: center;
			padding:3%;
		}

		#titulobugado{
			padding-right: 160px;
		}

		p{
			margin-bottom: 30px;
			line-height: 30px;
		}

		.delimitador{
			margin: auto;
			width: 70%;
			overflow: hidden;
			height: 50%;
			border: 2px solid white;
			border-radius: 50px;
			padding: 20px;
			background-color: #CFEFF5;
			box-shadow: 5px 5px 50px gray; 		
		}	

		.texto{
			background-color: #B1CBDE;
			padding-bottom: 50px;
		}

		ul li{
			line-height: 30px;
		}

		/* Foto */

		.foto{
			width:160px;
			top: 2px;
			position: relative;
			left: -10px;
		}

		.perfil{
			border-radius: 50%;
			width: 140px;
			height: 140px;
			float: left;
			overflow: hidden;
			margin-right: 30px;
			margin-bottom: 20px; 			
		}

		/* AGENDA */

		/*Colaboradores*/
		#ti, #tii, #tiii{
			background-color: #CFEFF5;
			box-shadow: 0px 0px 0px transparent;
			cursor: unset;
		}
		/*Meses*/
		span{
			margin-right: 10px;
			cursor: pointer; 
		}

		/*Tabela*/
		#calendario{
			float: left;
			width: 400px;
		}
		/*Primeira Linha*/
		#dias{
			background-color: pink;
		}
		/*Linhas*/
		tr:hover{
			background-color: white;
		}

		.t{
			background-color: lightblue;
			border-radius: 7px;
			cursor: pointer;
			margin-bottom: 10px;
			margin-right: 0%;
			box-shadow: 2px 2px 5px gray;
			width: 10%;
			border: 0px;
			padding: 2px;
		}
		
		.t:hover{
			background-color: white;
		}		
		/*Tabelas*/
		table{
			margin-right: 50px;
		}

		td{
			border: 1px solid black;
			text-align: center;
			cursor: pointer;
			border-radius: 7px;
			padding: 5px;

		}
		/*Tabela Calendário*/
		#volta{
			float: left;
		}
		h3{
			width: 100px;
			float: left;
		}

		#calendario table{
			float: left;
		}

		#calendario td{
			width: 35px;
		}
		#calendario td{
			height: 35px;
		}

		/*Tabela dia*/
		#campo{
			height: 400px;
		}
		.insere{
			width: 60%;
		}
		.hora{
			background-color: pink;
		}




		/* ESTATÍSTICAS */



		#estatisticas p{
			margin: 0px;
		}

		.barra{
			height: 17px;
			width: 0px;
		}

		#b1, #b4, #b7, #b10{background-color: lightblue;}
		#b2, #b5, #b8, #b11{background-color: lightgreen;}
		#b3, #b6, #b9, #b12{background-color: pink;}


		/* Roda pé */

		footer{
			padding-top: 25px;
			padding-bottom: 25px;
			background-color: rgb(189, 233, 245);
			overflow: hidden;
		}

		footer p{
			margin: 0px;
		}


		#desenvolvedor{
			margin-top: 50px;
		}
		#desenvolvedor p{
			text-align: center;
			font-size: 12px;
			line-height: 15px;
		}