

		/* Geral */
		html{
			overflow-x: hidden;
			width: 102vw;
		}


		body{
			background-color: white;
			overflow-x: hidden; 
		}

		@font-face{
			font-family: Josefin-Light;
			src: url(TIpografia/josefinsans/JosefinSans-Light.ttf);
		}
		@font-face{
			font-family: Josefin;
			src: url(TIpografia/josefinsans/JosefinSans-Bold.ttf);
		}
		@font-face{
			font-family: MorningDew;
			src: url(TIpografia/MorningDew/MorningDew/MorningDew.ttf);
		}		
		@font-face{
			font-family: MorningDew Alt;
			src: url(TIpografia/MorningDew/MorningDewAlt/MorningDewAlt.ttf);
		}
		@font-face{
			font-family: MorningDew Swash;
			src: url(TIpografia/MorningDew/MorningDewSwash/MorningDewSwash.ttf);
		}

		*{
			margin: 0px;
			text-decoration: none;
			font-family: Josefin-Light;
			text-align: justify;
			color: #09202B;						
		}

		/* CABEÇALHO */

		header{
			width: 100%;
			overflow: hidden;
		}

		#logo{
			width:43%;
			position: absolute;
			left: -3vw;
			top: -4vw;
			z-index: 2;
		}
		div img{
			width: 100%;
		}
		ol{
			background-color: white;
			padding-bottom: 1.5%;
			text-align: right;
			position: absolute;
			top: 22vw;
			width: 97%;
			opacity: 0.8;
		}
		ol li{
			display: inline-block;
			margin-bottom: 1%;
			margin-top: 2.8%;
			text-align: center;
			border-bottom: 5px solid white;
			padding: 0vw 7%;
		}

		ol li:hover{border-bottom: 5px solid #FB8D30;}	
		#logar {
			text-align: right;
			padding-right: 7%;
		}
		a{
			font-size: 3vh;
		}


		/* TEXTO */
		div span{
			font-family: MorningDew Swash;
			position: relative;
			top: -20px;
			font-size: 5em;
			color: #20485D;			
		}
		#ass_pilates	span{left: 52%;}
		#ass_bruna 		span{left: 52%;}
		#ass_oficina	span{left: 63%;}
		#ass_djefri		span{left: 50%;}
		#ass_nutri		span{left: 58%;}
		#ass_floral		span{left: 50%;}
		#ass_reiki 		span{left: 45%;}
		#ass_barras		span{left: 52%;}
		#ass_claudia	span{left: 57%;}
		#ass_eli		span{left: 52%;}
		#ass_sonia		span{left: 52%;}
		#ass_cris 		span{left: 54%;}
		#ass_kelly		span{left: 49%;}

		#ass_yoga		span{left: 51%;}
		#ass_laliita	span{left: 45%;}
		#ass_sabrina	span{left: 45%;}
		#ass_fabi 		span{left: 45%;}		


		h1 span, h4 span{
			font-family: MorningDew Swash;
			position: relative;
			top: -1.6vh;
			right: -16.5em;
			color: #20485D;
		}
		h1, h2, h4{
			font-family: MorningDew Alt;
			text-align: center;
			font-size: 7vh;
			letter-spacing: 3px;
			white-space: nowrap;
			color: #20485D;
			display: grid;
			}
		h1, h2{
			padding: 1vh;
		}
		h4{
			width: 100%;
		}

		.delimitador{
			margin: auto;
			width: 70%;
			overflow: hidden;
			height: 50%;
			border: 2px solid #FAD488;
			border-radius: 25px;
			padding: 20px;
			background-color: #FAD488;
			box-shadow: 5px 5px 50px #20485D;
			text-align: center;		
		}
		p{
			font-size: 18px;
			margin-bottom: 30px;
			line-height: 26px;
			font-family: Josefin-Light;
		}
		.texto{
			background-color: white;	
			padding-bottom: 10vh;
			padding-top: 1vw;
		}
		ul li{line-height: 30px;}

		/* FOTO */
		.foto{
			width:160px;
			top: 2px;
			position: relative;
			left: -10px;
		}
		#elizafoto{
			width: 175px;
			top: 0px;
			left: 0px;
		}
		#crisfoto{
			top:0px;
			left: 0px;
			width: 154px;
		}
		#sabrina{
			top: 0px;
			width: 185px;
		}
		.perfil{
			border-radius: 50%;
			width: 140px;
			height: 140px;
			float: left;
			overflow: hidden;
			margin-right: 30px;
			margin-bottom: 20px; 			
		}


		/* RODA PÉ */
		footer{
			padding-top: 25px;
			padding-bottom: 25px;
			background-color: #20485D;
			overflow: hidden;
		}
		footer section{
			background-color: #09202B;
			padding-left: 13%;
		}
		footer p{
			margin: 0px;
			color: #FAD488;
			font-size: 15px;
			line-height: 20px;
		}
		#desenvolvedor{margin-top: 50px;}
		#desenvolvedor p{
			font-family: Josefin-Light;	
			text-align: center;
			font-size: 13px;
			line-height: 17px;
			letter-spacing: 1px;
			color: #FAD488;
		}
























@media (max-width: 500px){
	#logo{
		width: 68%;
		z-index: 0;
	}
	a{
		padding: 0vw 3vw;
	}
	h1,h2,h4{
		width: 100%;
		font-size: 3.5vh;
		padding: 1vh 0vh;
	}
	div span{
		font-size: 3em;
	}
	h1 span, h4 span{
		top: -0.6vh;
		right: -55%;
	}

	.perfil{
		margin-left: 45px;
	}
	h4{
		display: contents;
	}

	.delimitador p{
		margin-top: 15px;
	}

	ol a{
		font-size: 18px;
		padding: 0vw 1vw;
	}

	ol{
		white-space: nowrap;
		text-align: center;
		position: inherit;
		padding-bottom: 0px;
		width: 74%;
		padding-top: 0px;
		margin-top:10px;
		padding-left: 4vw;
	}
	#adm {padding-right: 15px;font-size: 15px;}
	p{
		font-size: 19px;
		line-height: 25px;
	}
	footer p{
		font-size: 12px;
		margin-left: -11px;
		font-weight: bolder;
	}
	#desenvolvedor p{
		font-size: 8px;
		margin-left: -40px;
		letter-spacing: 0.5px;
	}
}